html{
	background-color: #f64646;
}
body{
	background-color: #ACADAD;
}
#top_text{
	padding-right: 375px;
	padding-bottom: 40px;
	padding-top:40px;
	text-align: center;
}
.redrombo{
	position: relative;
    z-index: 2;
	width:500px;
	height: 100%;
	color:white;
	background-color: #D71920;
    border-right: 5px solid transparent;
    font-size: 50px;
    font-family:Corbel;
    text-align: center;
}
#tri{
	position: relative;
    z-index: 1;

	margin-left: 805px;
	margin-top: -141px;

	width: 0px;
	height: 0px;

	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 140px solid #D71920;
}
#whiterombo{
	position: relative;
    z-index: 0;

    margin-top: -140px;
    
    width: 100%;
    height: 100px;

	text-align: right;
	background-color: #FFFFFF;
	font-family: Georgia,Lucida Console;
}
.call{
	font-family: Georgia,Lucida Console;
	font-size: 1.5em;
	color: #000000;
	margin-right: 7em;

}
.websitename{
	padding-top: 50%;
}
#aboutus{
	font-size: 2em;
	text-align: center;
	margin-top: 175px;
	padding-top:10px;
	background-color: #2A2A2A;
}
.colorwhite{
	color: #FFFFFF;
}
text#text{
	padding-right:30px;
	display: inline-block;
	text-align: center;
	background-color: #2A2A2A;
	font-size: 20px;	
	font-family: Orator Std;
	color: white;
	line-height: 1.5em;
	
}

div.header_of_body{
	padding-left: 75px;
	color:#424242;
	text-align: left;
	font-size: 2em;
	font-family: Franklin Gothic Medium;
	font-weight: bold;
}
.body{
	padding-top: 40px;
	background-color: #FFFFFF;
}
.colored{
	color: #E91C24;
}
ul{
	color: red;
}
.li_title{
	font-size: 24px;
}
.ul_text{
	margin-top: -55px;
	display: inline-block;
    overflow: auto;
	width:600px;
	height: 75px;
	overflow: hidden;
	font-size: 16px;
	line-height: 1em;
	text-align: left;
	color:#797575;
}
.right_body_text{
	margin-left: 1300px;
	margin-top: -500px;
	color: #424242;
	font-family: Franklin Gothic Medium;
	font-weight: bold;
	font-size: 3.5em;
	text-align: left;
} 
.resize_cat{
	margin-left: 1300px;
	width:20%;
    height: 20%;
}

